/*.first-row{
    font-size: 15px;
}
.first-row-image{
    height: auto;
    width: 60px;
}
.second-row-image{
    height: auto;
    width: 60px;
}*/
.color{
    background-color: #392c82;
}
.card-image{
    width: 130px;
    height: auto;
}
.free-ssl{
    font-size: 17px;
    color:#555f87;
    line-height:1.2;
}
.carded{
    border-bottom-right-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
}